### <a name='0'></a>Import biblioteki

In [4]:
import numpy as np
import pandas as pd

np.random.seed(42)
np.__version__

'2.3.3'

### <a name='1'></a> Ćwiczenie 21
Podany jest poniższy obiekt _DataFrame:_

```
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
```

In [2]:
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
df

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.212339  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
8  0.065052  0.948886  0.965632  0.808397
9  0.304614  0.097672  0.684233  0.440152

Wytnij wiersze obiektu _df_ dla których kolumna _C_ jest większa niż 0.8.  
Pomocniczo: Analogicznie jak w jezyku SQL poniższe zapytanie:


```
SELECT * FROM df WHERE C > 0.8
```

In [ ]:
df.loc[df['C'] > 0.8]

### <a name='2'></a> Ćwiczenie 22

Wytnij wiersze obiektu _df_ dla których kolumna _C_ jest większa niż 0.3 oraz kolumna _D_ jest mniejsza niż 0.7.

In [ ]:
df.loc[(df['C'] > 0.3) & (df['D'] < 0.7)]

### <a name='3'></a> Ćwiczenie 23 - brak

### <a name='4'></a> Ćwiczenie 24
Ustaw wartość w wierszu o indeksie 3 dla kolumny B jako _np.nan_.
Wykorzystaj _df.iloc_.

In [5]:
df.iloc[3, 1] = np.nan

Ustaw wartość w wierszu o indeksie 8 dla kolumny D jako _np.nan_. Wykorzystaj _df.loc_.

In [6]:
df.loc[8, 'D'] = np.nan

Wyświetl obiekt _df_.

In [7]:
df

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443       NaN  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
8  0.065052  0.948886  0.965632       NaN
9  0.304614  0.097672  0.684233  0.440152

### <a name='5'></a> Ćwiczenie 25
Usuń wszystkie wiersze z obiektu _df_ zawierające braki danych i przypisz do zmiennej _df1_. Wyświetl zmienną _df1_.

__Wskazówka:__ pd.DataFrame().dropna()

In [19]:
df1 = df.dropna()
df1

          A         B         C         D
0  0.122038  0.495177  0.034389  0.909320
1  0.258780  0.662522  0.311711  0.520068
2  0.546710  0.184854  0.969585  0.775133
4  0.088493  0.195983  0.045227  0.325330
5  0.388677  0.271349  0.828738  0.356753
6  0.280935  0.542696  0.140924  0.802197
7  0.074551  0.986887  0.772245  0.198716
9  0.771270  0.074045  0.358466  0.115869

### <a name='6'></a> Ćwiczenie 26
Zauważ, że indeks po usunięciu dwóch wierszy w obiekcie _df1_ nie jest po kolei. Zresetuj indeks, aby wprowadzić kolejność (nie dodawaj nowej kolumny, tylko zreseuj indeks). Wyświetl zmienną _df1_.

In [20]:
df1 = df1.reset_index(drop=True)
df1

          A         B         C         D
0  0.122038  0.495177  0.034389  0.909320
1  0.258780  0.662522  0.311711  0.520068
2  0.546710  0.184854  0.969585  0.775133
3  0.088493  0.195983  0.045227  0.325330
4  0.388677  0.271349  0.828738  0.356753
5  0.280935  0.542696  0.140924  0.802197
6  0.074551  0.986887  0.772245  0.198716
7  0.771270  0.074045  0.358466  0.115869

### <a name='7'></a> Ćwiczenie 27
Wracamy do obiektu _df_. Wyznacz liczbę brakujących elementów w obiekcie _df_ dla każdej kolumny.

In [21]:
df.isnull().sum()

A    0
B    1
C    0
D    1
dtype: int64

### <a name='8'></a> Ćwiczenie 28
Uzupełnij brakujące wartości wartością 0 i przypisz do zmiennej _df_.

In [22]:
df = df.fillna(0)
df

          A         B         C         D
0  0.122038  0.495177  0.034389  0.909320
1  0.258780  0.662522  0.311711  0.520068
2  0.546710  0.184854  0.969585  0.775133
3  0.939499  0.000000  0.597900  0.921874
4  0.088493  0.195983  0.045227  0.325330
5  0.388677  0.271349  0.828738  0.356753
6  0.280935  0.542696  0.140924  0.802197
7  0.074551  0.986887  0.772245  0.198716
8  0.005522  0.815461  0.706857  0.000000
9  0.771270  0.074045  0.358466  0.115869

### <a name='9'></a> Ćwiczenie 29
Zamień kolejność kolumn w obiekcie _df_ na podaną poniżej:
* D, A, B, C  

i przypisz do zmiennej _df_.

In [23]:
df = df[['D', 'A', 'B', 'C']]
df

          D         A         B         C
0  0.909320  0.122038  0.495177  0.034389
1  0.520068  0.258780  0.662522  0.311711
2  0.775133  0.546710  0.184854  0.969585
3  0.921874  0.939499  0.000000  0.597900
4  0.325330  0.088493  0.195983  0.045227
5  0.356753  0.388677  0.271349  0.828738
6  0.802197  0.280935  0.542696  0.140924
7  0.198716  0.074551  0.986887  0.772245
8  0.000000  0.005522  0.815461  0.706857
9  0.115869  0.771270  0.074045  0.358466

### <a name='10'></a> Ćwiczenie 30
Usuń kolumnę $D$ z obiektu _df_.

In [24]:
# Rozwiązanie 1
df.drop('D', axis=1)

          A         B         C
0  0.122038  0.495177  0.034389
1  0.258780  0.662522  0.311711
2  0.546710  0.184854  0.969585
3  0.939499  0.000000  0.597900
4  0.088493  0.195983  0.045227
5  0.388677  0.271349  0.828738
6  0.280935  0.542696  0.140924
7  0.074551  0.986887  0.772245
8  0.005522  0.815461  0.706857
9  0.771270  0.074045  0.358466

In [25]:
# Rozwiązanie 2
del df['D']
df

          A         B         C
0  0.122038  0.495177  0.034389
1  0.258780  0.662522  0.311711
2  0.546710  0.184854  0.969585
3  0.939499  0.000000  0.597900
4  0.088493  0.195983  0.045227
5  0.388677  0.271349  0.828738
6  0.280935  0.542696  0.140924
7  0.074551  0.986887  0.772245
8  0.005522  0.815461  0.706857
9  0.771270  0.074045  0.358466