### <a name='0'></a>Import biblioteki

In [1]:
import numpy as np
import pandas as pd

np.random.seed(42)
np.__version__

'2.3.3'

### <a name='1'></a> Ćwiczenie 21
Podany jest poniższy obiekt _DataFrame:_

```
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
```

In [ ]:
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
df

Wytnij wiersze obiektu _df_ dla których kolumna _C_ jest większa niż 0.8.  
Pomocniczo: Analogicznie jak w jezyku SQL poniższe zapytanie:


```
SELECT * FROM df WHERE C > 0.8
```

In [3]:
# tutaj wpisz rozwiązanie

### <a name='2'></a> Ćwiczenie 22

Wytnij wiersze obiektu _df_ dla których kolumna _C_ jest większa niż 0.3 oraz kolumna _D_ jest mniejsza niż 0.7.

In [5]:
# tutaj wpisz rozwiązanie

### <a name='3'></a> Ćwiczenie 23 - brak

### <a name='4'></a> Ćwiczenie 24
Ustaw wartość w wierszu o indeksie 3 dla kolumny B jako _np.nan_.
Wykorzystaj _df.iloc_.

In [ ]:
# tutaj wpisz rozwiązanie

Ustaw wartość w wierszu o indeksie 8 dla kolumny D jako _np.nan_. Wykorzystaj _df.loc_.

In [ ]:
# tutaj wpisz rozwiązanie

Wyświetl obiekt _df_.

In [6]:
# tutaj wpisz rozwiązanie

### <a name='5'></a> Ćwiczenie 25
Usuń wszystkie wiersze z obiektu _df_ zawierające braki danych i przypisz do zmiennej _df1_. Wyświetl zmienną _df1_.

__Wskazówka:__ pd.DataFrame().dropna()

In [7]:
# tutaj wpisz rozwiązanie

### <a name='6'></a> Ćwiczenie 26
Zauważ, że indeks po usunięciu dwóch wierszy w obiekcie _df1_ nie jest po kolei. Zresetuj indeks, aby wprowadzić kolejność (nie dodawaj nowej kolumny, tylko zreseuj indeks). Wyświetl zmienną _df1_.

In [8]:
# tutaj wpisz rozwiązanie

### <a name='7'></a> Ćwiczenie 27
Wracamy do obiektu _df_. Wyznacz liczbę brakujących elementów w obiekcie _df_ dla każdej kolumny.

In [9]:
# tutaj wpisz rozwiązanie

### <a name='8'></a> Ćwiczenie 28
Uzupełnij brakujące wartości wartością 0 i przypisz do zmiennej _df_.

In [10]:
# tutaj wpisz rozwiązanie

### <a name='9'></a> Ćwiczenie 29
Zamień kolejność kolumn w obiekcie _df_ na podaną poniżej:
* D, A, B, C  

i przypisz do zmiennej _df_.

In [11]:
# tutaj wpisz rozwiązanie

### <a name='10'></a> Ćwiczenie 30
Usuń kolumnę $D$ z obiektu _df_.

In [12]:
# tutaj wpisz rozwiązanie