### <a name='0'></a>Import biblioteki

In [1]:
import numpy as np
import pandas as pd

np.random.seed(42)
np.__version__

'2.3.3'

### <a name='1'></a> Ćwiczenie 31
Podane są dwa obiekty typu _Series_:

```
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))
```
Połącz te dwa obiekty w jeden obiekt typu _DataFrame_ (jako dwie kolumny) i przypisz do zmiennej _df_. Nadaj nazwy kolumn odpowiednio _col1_ oraz _col2_.

In [2]:
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

In [3]:
# tutaj wpisz rozwiązanie

### <a name='2'></a> Ćwiczenie 32
Wytnij z obiektu _df_ wiersze, dla których wartość w kolumnie _col2_ jest pomiędzy 0.0 a 1.0 (włącznie).

__Wskazówka:__ Mozesz uzyć metody `pd.DataFrame().between()` lub filtrowania []

In [4]:
# tutaj wpisz rozwiązanie

### <a name='3'></a> Ćwiczenie 33
Przypisz nową kolumnę o nazwie _col3_, która przyjmie wartość 1 w momencie gdy w kolumnie _col2_ jest wartość nieujemna i przeciwnie -1.

__Wskazówka:__ metoda pd.DataFrame().map(lambda)

In [5]:
# tutaj wpisz rozwiązanie

### <a name='4'></a> Ćwiczenie 34
Przypisz nową kolumnę o nazwie _col4_, która przytnie wartości z kolumny _col2_ do przedziału $[-1.0, 1.0]$.
Innymi słowy, dla wartości poniżej -1.0 należy wstawić wartość -1.0, dla wartości powyżej 1.0 wartość 1.0.

__Wskazówka:__ Metoda pd.DataFrame().clip()

In [6]:
# tutaj wpisz rozwiązanie

### <a name='5'></a> Ćwiczenie 35
Znajdź 5 największych wartości dla kolumny _col2_.

In [7]:
# tutaj wpisz rozwiązanie

Znajdź 5 najmniejszych wartości dla kolumny _col2_.

In [8]:
# tutaj wpisz rozwiązanie

### <a name='6'></a> Ćwiczenie 36
Wyznacz skumulowaną sumę dla każdej kolumny.

__Wskazówka:__ Użyj metody _pd.DataFrame.cumsum()_.

In [9]:
# tutaj wpisz rozwiązanie

### <a name='7'></a> Ćwiczenie 37
Wyznacz medianę dla zmiennej _col2_ (inaczej kwantyl rzędu 0.5).

In [10]:
# tutaj wpisz rozwiązanie

### <a name='8'></a> Ćwiczenie 38
Wytnij wiersze, dla których zmienna _col2_ przyjmuje wartości większe od 0.0.

In [11]:
# tutaj wpisz rozwiązanie

### <a name='9'></a> Ćwiczenie 39
Wytnij 5 pierwszych wierszy obiektu _df_ i przekształć je do słownika.

In [12]:
# tutaj wpisz rozwiązanie

### <a name='10'></a> Ćwiczenie 40
Wytnij 5 pierwszych wierszy obiektu _df_, przekształć je do formatu Markdown i przypisz do zmiennej _df_markdown_.

__Wskazówka:__ Metoda pd.DataFrame().to_markdown()

In [13]:
# tutaj wpisz rozwiązanie

Wydrukuj do konsoli zawartość zmiennej _df_markdown_.

In [14]:
# tutaj wpisz rozwiązanie

Skopiuj wynik uruchomienia powyższej komórki i wklej poniżej: