### <a name='0'></a>Import biblioteki

In [42]:
import numpy as np
import pandas as pd

pd.options.display.float_format = '{:.2f}'.format
np.__version__

'2.3.3'

### <a name='1'></a> Ćwiczenie 51
Wczytaj do obiektu _DataFrame_ o nazwie _df_ plik data.csv.

Opis danych:

* https://www.kaggle.com/datasets/sujay1844/used-car-prices

Ustaw indeks obiektu _df_ na pierwszą kolumnę (parametr 'index_col=0'). Wyświetl obiekt _df_.

In [1]:
# tutaj wpisz rozwiązanie

Wyświetl informacje na temat obiektu _df_.

In [2]:
# tutaj wpisz rozwiązanie

Wyświetl podstawowe statystyki obiektu _df_.

In [3]:
# tutaj wpisz rozwiązanie

In [4]:
# tutaj wpisz rozwiązanie

### <a name='2'></a> Ćwiczenie 52
Wypisz listę zawierającą nazwy wszystkich kolumn obiektu _df_.

In [5]:
# tutaj wpisz rozwiązanie

Z obiektu _df_ usuń kolumnę o nazwie _New_Price_ i wyświetl 5 pierwszych wierszy.

In [6]:
# tutaj wpisz rozwiązanie

### <a name='3'></a> Ćwiczenie 53
Znajdź liczbę brakujących wartości dla każdej zmiennej obiektu _df_.

In [7]:
# tutaj wpisz rozwiązanie

Usuń wszystkie wiersze z obiektu _df_ zawierające braki danych. Użyj parametru _inplace=True_.

In [8]:
# tutaj wpisz rozwiązanie

Wyświetl raz jeszcze informacje na temat obiektu _df_. Zwróć uwagę na liczbę wierszy i typ danych.

In [9]:
# tutaj wpisz rozwiązanie

### <a name='4'></a> Ćwiczenie 54
Zamień wszystkie litery w nazwach kolumn na małe, np.:
* Name -> name
* Fuel_Type -> fuel_type  

Wyświetl metodą _head()_ pięć pierwszych wierszy.

In [11]:
# tutaj wpisz rozwiązanie

### <a name='5'></a> Ćwiczenie 55
Znajdź rozkład wartości zmiennej _owner_type_.

In [12]:
# tutaj wpisz rozwiązanie

Znajdź rozkład wartości zmiennej _engine_.

In [13]:
# tutaj wpisz rozwiązanie

Zauważ, że zmienna _engine_ jest typu _object_. Usuń 3 ostatnie znaki z każdego elementu i resztę skonwertuj na typ int. Wyświetl metodą _head()_ pięć pierwszych wierszy.

__Wskazówka__: metoda pd.DataFrame().map(lamdba x: ...)

In [14]:
# tutaj wpisz rozwiązanie

### <a name='6'></a> Ćwiczenie 56 - rozwiązane
Spójrz na rozkład zmiennej _power_. Zauważ, że ta zmienna ma także braki danych w postaci wartości _'null bhp'_. Zamień te wartości dla zmiennej _power_ na wartość _np.nan_. Wykorzystaj przy tym funkcję _np.where()_.

In [ ]:
df['power'].value_counts()

In [ ]:
counts = df['power'].value_counts()

In [ ]:
counts[counts.index.str.contains('null')]

In [ ]:
np.where(df['power'] == 'null bhp') #indeksy

In [ ]:
df[df.power.index == 76]

In [61]:
df['power'] = np.where(df['power'] == 'null bhp', np.nan, df['power'])

Usuń jeszcze raz wszystkie rekordy z brakami danych.

In [62]:
df.dropna(inplace=True)

In [63]:
df.isnull().sum()

name                 0
location             0
year                 0
kilometers_driven    0
fuel_type            0
transmission         0
owner_type           0
mileage              0
engine               0
power                0
seats                0
price                0
dtype: int64

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5872 entries, 0 to 6018
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               5872 non-null   object
 1   location           5872 non-null   object
 2   year               5872 non-null   int64
 3   kilometers_driven  5872 non-null   int64
 4   fuel_type          5872 non-null   object
 5   transmission       5872 non-null   object
 6   owner_type         5872 non-null   object
 7   mileage            5872 non-null   object
 8   engine             5872 non-null   object
 9   power              5872 non-null   object
 10  seats              5872 non-null   float64
 11  price              5872 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 596.4+ KB

### <a name='7'></a> Ćwiczenie 57
Zauważ, że zmienna _power_ jest typu _object_. Usuń 4 ostatnie znaki z każdego elementu i resztę skonwertuj na typ float.

Wyświetl metodą _head()_ pięć pierwszych wierszy.

__Wskazówka__: metoda pd.DataFrame().map(lamdba x: ...)

In [19]:
# tutaj wpisz rozwiązanie

### <a name='8'></a> Ćwiczenie 58
Pogrupuj dane na poziomie roku (_year_) i policz liczbę rekordów dla każdego roku w obiekcie _df_.

In [21]:
# tutaj wpisz rozwiązanie

### <a name='9'></a> Ćwiczenie 59
Sprawdź rozkład zmiennej _transmission_.

In [22]:
# tutaj wpisz rozwiązanie

Dokonaj następującego mapowania zmiennej _transmission_:
* Manual -> 0
* Automatic -> 1

Wyświetl metodą _head()_ pięć pierwszych wierszy.

__Wskazówka__: metoda pd.DataFrame().map(lamdba x: ...)

In [23]:
# tutaj wpisz rozwiązanie

### <a name='10'></a> Ćwiczenie 60
Zapisz obiekt _df_ do pliku _car.csv_ (nie zapisuj indeksu - parametr (index=False)).

In [24]:
# tutaj wpisz rozwiązanie