### 3.Pandas - kluczowy pakiet do danych tabelarycznych

Pandas to popularna biblioteka programistyczna w języku Python, która jest używana do manipulacji i analizy danych. Jest to potężne narzędzie, które ułatwia wczytywanie, przekształcanie, eksplorację i analizę danych w formie tabelarycznej, takich jak arkusze kalkulacyjne lub bazy danych.

##### Główne cechy i funkcje biblioteki Pandas:

1. Struktury danych: Pandas wprowadza dwie główne struktury danych: Series i DataFrame.

- Series: To jednowymiarowa tablica danych, podobna do kolumny w arkuszu kalkulacyjnym lub kolumny w bazie danych. Series można traktować jako uporządkowany zestaw danych z indeksem.

- DataFrame: To dwuwymiarowa struktura danych, która przypomina tabelę lub arkusz kalkulacyjny. DataFrame składa się z kolumn i wierszy, a każda kolumna może zawierać różne typy danych.

2. Wczytywanie i zapisywanie danych: Pandas umożliwia wczytywanie danych z różnych źródeł, takich jak pliki CSV, Excel, SQL, JSON i wiele innych. Możesz również zapisywać dane do tych formatów.

3. Indeksowanie i selekcja danych: Pandas oferuje różnorodne mechanizmy indeksowania i selekcji danych, co pozwala na dostęp do konkretnych kolumn, wierszy lub komórek danych w bardzo elastyczny sposób.

4. Operacje na danych: Biblioteka umożliwia wykonywanie różnych operacji na danych, takich jak filtrowanie, sortowanie, grupowanie, łączenie i wiele innych. Możesz także przeprowadzać operacje matematyczne na danych w sposób efektywny.

5. Obsługa brakujących danych: Pandas oferuje narzędzia do radzenia sobie z danymi brakującymi, takie jak usuwanie lub uzupełnianie brakujących wartości.

6. Analiza i eksploracja danych: Biblioteka ułatwia eksplorację danych poprzez obliczanie statystyk opisowych, generowanie wykresów i wizualizacji danych.

7. Obsługa szeregów czasowych: Pandas posiada wsparcie dla operacji na szeregach czasowych, co jest przydatne w analizie danych związanych z czasem.

8. Integracja z innymi narzędziami: Pandas można łatwo łączyć z innymi bibliotekami do analizy danych i uczenia maszynowego, takimi jak NumPy, SciPy, Matplotlib, scikit-learn i wiele innych.

9. Wsparcie społeczności: Pandas posiada aktywną społeczność użytkowników i deweloperów, co oznacza, że istnieje wiele dostępnych źródeł, tutoriali i materiałów do nauki.

##### Strona internetowa
- https://pandas.pydata.org/

##### Dokumentacja
- https://pandas.pydata.org/pandas-docs/stable/

##### Polecana strona
- https://www.dataschool.io/easier-data-analysis-with-pandas/

In [ ]:
# pip install pandas

import pandas as pd
pd.__version__

### `pd.Series()` - Tablica jednowymiarowa zawierająca dane oraz ich indeksy
Series jest jednowymiarową tablicą z etykietowanym indeksem, która może przechowywać dowolny typ danych – liczby, tekst, wartości logiczne, daty itp. Jest to fundament, na którym buduje się bardziej złożone struktury danych w Pandas.

In [ ]:
s = pd.Series(data=[1, 2, 3])
s

In [ ]:
s = pd.Series(data=[1, 2, 3], index=['a', 'b', 'c'], name='test')
s

In [ ]:
import numpy as np

s = pd.Series(data=[1, np.nan, 3], index=['a', 'b', 'c'], name='test')
s

In [ ]:
s = pd.Series(data=[True, False, True])
s

In [ ]:
s = pd.Series(data=np.arange(1, 11), index=pd.date_range(start='20240521', periods=10))
s

In [ ]:
s.dtypes

Atrybut z indeksami jest obiektem typu `pd.Index`:

In [ ]:
s.index # często będziemy się posługiwać tą metodą

Atrybut `.values` jest tablicą NumPy

In [ ]:
s.values # często będziemy się posługiwać tą metodą

## Series vs tablica NumPy

Series uogólnia jednowymiarową tablicę NumPy:
* tablica NumPy posiada wewnętrzną indeksację w stylu Pythona (*implicit index*);
* Series posiada wewnętrzną indeksację w stylu Pythona plus indeksację za pomocą etykiet.

In [ ]:
s = pd.Series([3, 1, 2.71, -10], index=['a', 'b', 'c', 'd'])
s

In [ ]:
s['c']

Indeks etykiet może:
* nie zachowywać kolejności,
* posiadać luki,
* posiadać powtórzenia.

In [ ]:
s = pd.Series([3, 1, 2.71, -10, 50], index=[3, 2, 5, 2, 100])
s

In [ ]:
s = pd.Series(data=['python', 'sas', 'r'], name='jezyki')
s

## Series jako rodzaj słownika

Klucze słownika przechodzą na etykiety podczas przekształcania słownika na obiekt Series:

In [ ]:
ludność_dict = {'Polska': 38501,
                'Czechy': 10221,
                'Szwecja': 9045,
                'Niemcy': 82370,
                'Litwa': 3565}

ludność = pd.Series(ludność_dict)
ludność

Indeks etykiet w obiekcie Series ma niektóre cechy kluczy słownika, np. dostęp do elementu:

In [ ]:
ludność['Polska']

Etykieta jako atrybut, tego słowniki nie potrafią:

In [ ]:
ludność.Polska # jak pisać żeby używać tej notacji (z _)

## Selekcja elementów z obiektu Series

Obiekt Series ma równocześnie cechy słownika i jednowymiarowej tablicy. 

Niektóre wzorce dostępu do elementów naśladują te ze słownika, inne te z tablicy jednowymiarowej.

Series jako słownik:

In [ ]:
ludność['Czechy']

In [ ]:
'Polska' in ludność

In [ ]:
ludność.keys()

In [ ]:
list(ludność.items())

Modyfikacja w miejscu:

In [ ]:
ludność['Grecja'] = 10723
ludność

Series jako tablica jednowymiarowa pozwala na dostęp do wartości poprzez:
* wycinki,
* maskowanie,
* wymyślne indeksowanie.

In [ ]:
# Wycinek indeksów z poziomu etykiet
ludność['Czechy':'Niemcy'] # Prawy kraniec zaliczony!

In [ ]:
# Wycinek wewnętrznych indeksów Pythona
ludność[1:3] # Prawie kraniec wykluczony!

In [ ]:
# Maskowanie
ludność[(10000 < ludność) & (ludność < 40000)]

In [ ]:
# Indeksowanie wymyślne (fancy indexing), indeks etykiet
ludność[['Czechy', 'Grecja', 'Litwa']]

In [ ]:
# Indeksowanie wymyślne (fancy indexing), indeks wewnętrzny Pythona
ludność[[2, 4, 2]]

In [ ]:
ludność.iloc[[2, 4, 2]]

## Zagadka

In [ ]:
s = pd.Series(['a', 'b', 'c'], index=[1, 2, 3])
s

Jaka wartość kryje się pod `s[2]`? Co zwróci `s[1:3]`?

In [ ]:
s[2] # 2 z poziomu etykiet.

In [ ]:
s[1:3] # Ale wycinek po indeksach wewnętrznych.

## Indeksery `loc`, `iloc`

* Atrybut `loc` zawsze odnosi się do indeksów z poziomu etykiet.
* Atrybut `iloc` zawsze odnosi się do indeksów wewnętrznych Pythona, czyli do zwykłej numeracji całkowitoliczbowej od zera w górę.

In [ ]:
s = pd.Series(['a', 'b', 'c'], index=[1, 2, 3])
s

In [ ]:
s.iloc[1], s.loc[1]

In [ ]:
s.iloc[1:3] # Wyklucza prawy kraniec!

In [ ]:
s.loc[1:3] # Włącza prawy kraniec!

In [ ]:
#Statystyki

In [ ]:
ceny_akcji = pd.Series(data={'Orlen': 70, 'PZU': 30, 'KGHM': 100})
ceny_akcji

In [ ]:
ceny_akcji['Orlen']

In [ ]:
ceny_akcji[0]

In [ ]:
ceny_akcji.iloc[0]

In [ ]:
ceny_akcji.count()

In [ ]:
ceny_akcji.value_counts(dropna=False)

In [ ]:
ceny_akcji.sum()

In [ ]:
ceny_akcji.min()

In [ ]:
ceny_akcji.max()

In [ ]:
ceny_akcji.std()

In [ ]:
ceny_akcji.describe()

In [ ]:
ceny_akcji.nlargest(2)

In [ ]:
ceny_akcji.nsmallest(2)

In [ ]:
ceny_akcji.rank()

In [ ]:
ceny_akcji.sort_values(ascending=False)

## `pd.Series()`

Funkcja `pd.Series()` pozwala na tworzenie obiektów Series wg. schematu
```python
pd.Series(dane, index=index)
```
Parametr `index` jest opcjonalny, parametr `dane` może przyjmować rozmaitą postać.

### `pd.DataFrame()` - Dwuwymiarowa tabela, w której kolumnami są obiekty Series.
pd.DataFrame() jest jedną z najbardziej wszechstronnych i podstawowych struktur danych oferowanych przez bibliotekę Pandas. DataFrame to dwuwymiarowa tablica danych, która może przechowywać dane o różnych typach (liczby, tekst, wartości logiczne, daty itp.) w kolumnach. Struktura ta jest podobna do arkusza kalkulacyjnego lub tabeli relacyjnej bazy danych, co czyni ją niezwykle użyteczną do analizy danych.

**W analizie danych DataFrame jest często przedstawiana jako tabela, w której kolumny to zmienne a wiersze to obserwacje.**

In [ ]:
ludność_dict = {'Polska': 38501,
                'Czechy': 10221,
                'Szwecja': 9045,
                'Niemcy': 82370,
                'Litwa': 3565}

ludność = pd.Series(ludność_dict)
ludność

In [ ]:
powierzchnia_dict = {'Polska': 322.6,
                     'Czechy': 78.9,
                     'Szwecja': 450,
                     'Niemcy': 357,
                     'Litwa': 65.3}

powierzchnia = pd.Series(powierzchnia_dict)
powierzchnia

In [ ]:
kraje = pd.DataFrame({'powierzchnia': powierzchnia,
                      'ludność': ludność})
kraje

## DataFrame uogólnia tablicę 2D NumPy

Podobnie jak Series obiekty DataFrame posiadają dwa poziomy indeksów dla wierszy: 
* wewnętrzny z numeracją liczbami całkowitymi od zera,
* zbudowany z etykiet.

In [ ]:
kraje.index

Dodatkowo DataFrame posiada indeks z etykietami kolumn. Jest to również obiekt klasy `pd.Index`:

In [ ]:
kraje.columns

## DataFrame jako rodzaj słownika

Odpowiednikami kluczy słownika w obiekcie DataFrame są etykiety kolumn:

In [ ]:
kraje['powierzchnia']

## Sposoby konstrukcji obiektów DataFrame

Z obiektu Series:

In [ ]:
pd.DataFrame(ludność, columns=['ludność'])

Z listy słowników:

In [ ]:
list_dict = [{'a': 1, 'b': 2, 'c': 100},
             {'b': 10, 'c': 'Ala'},
             {'a': 0, 'b': 0, 'c': 1, 'd': 2}]
pd.DataFrame(list_dict)

Ze słownika obiektów Series:

In [ ]:
pd.DataFrame({'ludność': ludność,
              'powierzchnia': powierzchnia})

Z dwuwymiarowej tablicy NumPy:

In [ ]:
import numpy as np
arr = np.arange(10).reshape(5, 2)
arr

In [ ]:
pd.DataFrame(arr, index=['a', 'b', 'c', 'd', 'e'],
             columns=['X', 'Y'])

## Index

Cechy obiektu typu Index:
* niezmienny (*immutable*),
* uporządkowany,
* może zawierać powtórzenia.

Index jako niezmienna tablica:

In [ ]:
ind = pd.Index([2, 4, 6, 4, 4, 10, 25])
ind

In [ ]:
ind[0], ind[-1]

In [ ]:
ind[::2]

In [ ]:
ind.ndim, ind.shape, ind.size, ind.dtype

In [ ]:
# Reset do indeksu domyślnego 0,1...n
kraje.reset_index()

In [ ]:
# Ustawienie nowego indeksu
#kraje.set_index('index')

## Selekcja danych z ramki DataFrame

Ramka DataFrame ma równocześnie cechy słownika i dwuwymiarowej tablicy. 

Podobnie jak dla obiektów Series niektóre wzorce dostępu do elementów naśladują te ze słownika, inne te z tablicy dwywymiarowej.

Przypomnijmy ramkę `kraje`:

In [ ]:
kraje

DataFrame jako słownik obiektów Series:

In [ ]:
kraje['powierzchnia']

In [ ]:
kraje.powierzchnia

Dostęp do kolumny poprzez nazwę atrybutu jest możliwy, gdy:
* nazwa kolumny jest poprawną nazwą zmiennej w języku Python,
* nazwa kolumny nie jest przesłonięta przez nazwę już istniejącego atrybutu.

Modyfikacja w miejscu:

In [ ]:
kraje['gęstość zaludnienia'] = kraje.ludność / kraje.powierzchnia
kraje

DataFrame jako tablica 2D:

In [ ]:
kraje.values

In [ ]:
kraje.iloc[:3, :2] # Pierwsze trzy rzędy, pierwsze dwie kolumny.

In [ ]:
kraje.iloc[3] # Czwarty rząd.

In [ ]:
# Wycinki wzgledem indeksów z poziomu etykiet.
kraje.loc['Szwecja':'Litwa', 'ludność':]

In [ ]:
# Maskowanie
kraje[(kraje.powierzchnia > 100) & (kraje['gęstość zaludnienia'] < 200)]

In [ ]:
# Wymyślne indeksowanie dla kolumn.
kraje[['powierzchnia', 'gęstość zaludnienia']]

In [ ]:
# Wymyślne indeksowanie dla indeksów z poziomu etykiet.
kraje.loc[['Litwa', 'Polska'], ['ludność']]

In [ ]:
# Kombinacja maskowania i wymyślnej indeksacji
kraje.loc[kraje.powierzchnia > 300, ['ludność']]

Stosowanie instrukcji przypisania do podanych wyżej selekcji prowadzi do modyfikacji ramki w miejscu:

In [ ]:
df = pd.DataFrame([[1, 2], [3, 4], [10, 20]],
                  columns=['a', 'b'],
                  index=['x', 'y', 'z'])
df

In [ ]:
df.loc[(df.a % 2 == 1), 'b'] = 'X'
df

### Operacje na `pd.DataFrame`

In [ ]:
df = pd.DataFrame({'col one':[100, 200], 'col two':[300, 400]})
df

In [ ]:
df = df.rename({'col one':'col_one', 'col two':'col_two'}, axis='columns')
df

In [ ]:
df.columns = ['col_one', 'col_two'] # prostsza metoda
df

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.values

In [ ]:
df.info()

In [ ]:
df.describe()

#### Dodadnie kolumny

In [ ]:
df

In [ ]:
df['col_three'] = df['col_two'] * 2
df

In [ ]:
df.sum()

Aby wykonać operację uniwarsalną na ramce i obiekcie Series względem kolumn należy użyć metod z parametrem `axis`:

In [ ]:
df.sum(axis=1)

***Usuwanie kolumny***

In [ ]:
df

In [ ]:
df.drop('col_three',axis=1)

In [ ]:
# Usunięcie kolumny nie jest permanentne dopóki tego nie zadeklarujemy jawnie
# Kolumna cały czas jest!
df

In [ ]:
df.drop('col_three', axis=1, inplace=True)
# df = df.drop('new', axis=1)
# df = df.drop(columns=['new'])

In [ ]:
# Dopiero teraz jej nie ma
df

***Usunięcie wiersza***

In [ ]:
df.drop(1)

In [ ]:
df

### Braki danych

In [ ]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis=1)

In [ ]:
df.dropna(thresh=2)

In [ ]:
df.fillna(value='BRAK')

In [ ]:
df.fillna(value=0)

In [ ]:
df['A'].fillna(value=df['A'].mean())

### Grupowanie (group by)

In [ ]:
# Tworzymy ramkę danych
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [ ]:
df = pd.DataFrame(data, dtype=)
df

In [ ]:
df.dtypes

In [ ]:
#df.groupby('Company').mean() # w pandasie 1.x działało

In [ ]:
#od pandas 2.0
df.groupby('Company').mean(numeric_only=True)

In [ ]:
# Przypisujemy grupę do zmiennej
by_comp = df.groupby("Company")
by_comp

In [ ]:
# Wykonujemy agregację na grupie
by_comp.mean(numeric_only=True)

In [ ]:
# Inne metody agregacji na grupie
by_comp.std(numeric_only=True)

In [ ]:
by_comp.min(numeric_only=True)

In [ ]:
by_comp.max(numeric_only=True)

In [ ]:
by_comp.count()

In [ ]:
by_comp.describe()

In [ ]:
by_comp.describe().transpose()

In [ ]:
by_comp.describe().transpose()['GOOG'].iloc[1]

### Daty - pd.Timestamp()
https://docs.python.org/3/library/datetime.html

In [ ]:
data = pd.Timestamp.today()
data

In [ ]:
'2024-06-11'

In [ ]:
pd.Timestamp('2024-06-11')

In [ ]:
data.strftime(format='%d%m%Y')

In [ ]:
type(data)

In [ ]:
data.year

In [ ]:
data.day

In [ ]:
data_dzis = data.strftime(format='%Y%m%d')

In [ ]:
# zapis do Excela dowolnych statystyk z dzisiejszą datą 

df.groupby('Company').describe().to_excel(f'statystyki_{data_dzis}.xlsx')

## Łączenie danych
- https://pandas.pydata.org/docs/user_guide/merging.html

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3 # np. dane miesięczne/kwartalne łączymy w roczne

**Złączanie (concatenate)**

In [ ]:
pd.concat([df1,df2,df3])

**Łączenie (merge)**

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
right

In [ ]:
left

In [ ]:
# Łączenie po kluczu
pd.merge(left,right,how='inner',on='key')

In [ ]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
right

In [ ]:
left

In [ ]:
# Łączenie po dwóch kluczach
pd.merge(left, right, on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='outer', on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='right', on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='left', on=['key1', 'key2'])

**Łączenie (join)**

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
left

In [ ]:
right

In [ ]:
left.join(right)

In [ ]:
left.join(right, how='outer')

### Operacje na ramkach danych

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

In [ ]:
# Unikalne wartości
df['col2'].unique()

In [ ]:
# Liczba unikalnych wartości
df['col2'].nunique()

In [ ]:
# Liczba poszczególnych wartości
df['col2'].value_counts()

***Zastosowanie funkcji***

In [ ]:
def times2(x):
    return x*2

In [ ]:
df['col1'].apply(times2)

In [ ]:
df['col1'].map(times2)

In [ ]:
df['col1'].sum()

In [ ]:
df['col3'].sum()

***Usuwanie kolumny na stałe***

In [ ]:
del df['col1']

In [ ]:
df

***Sortowanie***

In [ ]:
df.sort_values(by='col2') #inplace=False by default

### Wczytywanie danych

In [ ]:
df = pd.read_excel('data.xlsx', header=None)
# df.columns = ['DATA', 'TIMESTAMP', 'WYNIK']
df

In [ ]:
df = pd.read_csv('data.csv', header=None)
df

In [ ]:
df = pd.read_table('data.txt', header=None)
df

In [ ]:
df = pd.read_table('data.txt', header=None, delimiter=',')

In [ ]:
df[1].str.split(',', expand=True)

In [ ]:
df = pd.concat([df[0], df[1].str.split(',', expand=True)], axis=1)
df

In [ ]:
df.columns = ['0', '1', '2']
df

In [ ]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
movies = pd.read_csv('http://bit.ly/imdbratings')
orders = pd.read_csv('http://bit.ly/chiporders', sep='\t')
orders['item_price'] = orders.item_price.str.replace('$', '').astype('float')
stocks = pd.read_csv('http://bit.ly/smallstocks', parse_dates=['Date'])
titanic = pd.read_csv('http://bit.ly/kaggletrain')
ufo = pd.read_csv('http://bit.ly/uforeports', parse_dates=['Time'])

In [ ]:
drinks.sort_values(by='wine_servings', ascending=False)

In [ ]:
drinks.head()

In [ ]:
drinks.tail()

#### Select columns by data type

In [ ]:
drinks.dtypes

In [ ]:
drinks.select_dtypes(include='number').head()

In [ ]:
drinks.select_dtypes(include='object').head()

### Filtrowanie danych w DataFrame

In [ ]:
drinks

In [ ]:
drinks['country']

In [ ]:
drinks.total_litres_of_pure_alcohol

In [ ]:
drinks[['country', 'continent']]

In [ ]:
drinks.loc[0]

In [ ]:
drinks.loc[0, 'country']

In [ ]:
drinks.loc[:, 'country']

In [ ]:
drinks.iloc[:,0]

In [ ]:
drinks.info()

In [ ]:
drinks.describe() # 2 funkcje od których mozna zacząć analizę danych

In [ ]:
drinks.describe(include='object')

In [ ]:
drinks.continent.value_counts() # bardzo często używamy jako analitycy

In [ ]:
drinks.continent.value_counts().plot(kind='bar'); #;

#### Warunki i filtry

In [ ]:
drinks_europe = drinks[drinks.continent == 'Europe']
drinks_europe.head()

In [ ]:
drinks_europe[drinks_europe.beer_servings >= 300]

In [ ]:
drinks_europe.sort_values(by='total_litres_of_pure_alcohol', ascending=False)

In [ ]:
drinks.groupby(by='continent')['total_litres_of_pure_alcohol'].mean()

### Porównanie do SQL

Wszystkto to co możemy zrobić za pomocą poleceń DML w języku SQL, możemy zrobić też w Pandas

In [ ]:
movies

In [ ]:
# SELECT star_rating, title FROM movies
movies[['star_rating', 'title']]

In [ ]:
# SELECT star_rating, title FROM movies
movies[['star_rating', 'title']]

In [ ]:
# SELECT * FROM movies WHERE genre='Crime';
movies[movies.genre == 'Crime']

In [ ]:
# SELECT * FROM movies WHERE genre='Crime' and star_rating > 8;
movies[(movies.genre == 'Crime') & (movies.star_rating > 8)]

In [ ]:
# SELECT genre, count(*), avg(star_rating) FROM movies GROUP BY genre;

#movies.groupby('genre').aggregate({'star_rating': np.mean, 'genre': np.size})
movies.groupby('genre').star_rating.aggregate(['count', 'mean'])

In [ ]:
# SELECT * FROM movies ORDER BY Quantity DESC LIMIT 5;
movies.nlargest(n=5, columns='duration')